---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.tsx'
import '../index.css'
---

<Layout title="About - PhyloGuessr">
  <div class="game">
    <Header client:load />
    <div class="about-page">
      <h2>About PhyloGuessr</h2>
      <ul>
        <li>Relationships are determined using the <a href="https://www.ncbi.nlm.nih.gov/taxonomy" target="_blank" rel="noopener noreferrer">NCBI Taxonomy</a> database</li>
        <li>The "closest pair" is whichever two species share the most recent common ancestor</li>
        <li>Source code is on <a href="https://github.com/cmdcolin/phyloguessr" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li>Want to add your own example trios? <a href="https://github.com/cmdcolin/phyloguessr/issues" target="_blank" rel="noopener noreferrer">Open an issue</a> or submit a pull request!</li>
        <li>Found a bug or wrong answer? <a href="https://github.com/cmdcolin/phyloguessr/issues" target="_blank" rel="noopener noreferrer">Let us know on GitHub</a></li>
      </ul>
    </div>
  </div>
</Layout>
