---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.tsx'
import History from '../components/History.tsx'
import '../index.css'
---

<Layout title="History - PhyloGuessr">
  <div class="game">
    <Header client:load />
    <div class="about-page">
      <h2>Game History</h2>
      <History client:load />
    </div>
  </div>
</Layout>
