---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.tsx'
import '../index.css'
---

<Layout title="PhyloGuessr">
  <div class="game">
    <Header client:load />
    <div class="start-screen">
      <h3 class="wordart-subtitle">
        The evolutionary guessing game
      </h3>
      <div class="mode-selector">
        <a class="mode-btn mode-btn-easy" href="/easy">Easy <span class="btn-emoji">🍿</span></a>
        <a class="mode-btn mode-btn-random" href="/random">Random <span class="btn-emoji">🎰</span></a>
        <a class="mode-btn mode-btn-custom" href="/custom">Custom <span class="btn-emoji">📠</span></a>
        <a class="mode-btn mode-btn-multi" href="/multi">Multi <span class="btn-emoji">🎯</span></a>
      </div>
    </div>
  </div>
</Layout>
