---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.tsx'
import Leaderboard from '../components/Leaderboard.tsx'
import '../index.css'
---

<Layout title="Leaderboard - PhyloGuessr">
  <div class="game">
    <Header client:load />
    <div class="about-page">
      <h2>Leaderboard</h2>
      <Leaderboard client:load />
    </div>
  </div>
</Layout>
